body{
    background-image: url("/images/ancient-bridge-home.jpg");
    background-size: fixed;
}
.heading
{
    font: size 100px;;
    font-style:serif;
    text-size-adjust:inherit;
    text-align: center;
    margin:80px;
    text-shadow: 8px 6px 4px grey;
}
.desc
{
    text-align: center;
    margin: 100px;
}