.bgimage
{
    margin: 150px;
    padding: 150px;
    background-size: cover;
    background-position: center;
    background-size: fixed;

}
.heading
{
    text-size-adjust:inherit;
    text-align: center;
    margin:80px;
    text-shadow: 8px 6px 4px grey;
}
.desc
{
    text-align: center;
    margin: 100px;
}